<h1>Lista de Motoboys</h1>

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Placa</th>
            <th>Número Habilitação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let motoBoy of listaMotoBoy">
            <td>{{ motoBoy.id }}</td>
            <td>{{ motoBoy.nome }}</td>
            <td>{{ motoBoy.cpf }}</td>
            <td>{{ motoBoy.placa }}</td>
            <td>{{ motoBoy.nrHabilitacao }}</td>
            <td><button class="btn btn-primary" (click)="redirecionaAlterar(motoBoy.id)">Editar</button></td>
        </tr>
    </tbody>
</table>