<!-- Login -->
<app-login *ngIf="!currentUser"></app-login>

<!-- nav -->
<header *ngIf="currentUser">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ">
          <a href="/src/index.html"><img src="../assets/img/logo_header.png" alt="logo" id="imgHeader"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="material-icons align-bottom"> attach_money </i> Faturamento <span
              class="sr-only">(atual)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Entregas</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href=""><i class="material-icons align-bottom">add_circle</i> Nova Entrega</a>
            <a class="dropdown-item" href=""><i class="material-icons align-bottom">error</i> Entregas Pendentes</a>
            <a class="dropdown-item" href=""><i class="material-icons align-bottom">history</i> Histórico de
              Entregas</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown02" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Opções de Cadastro</a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" href="/motoBoy"><i class="material-icons align-bottom">motorcycle</i>
              MotoBoy</a>
            <a class="dropdown-item" href="/listarCliente"><i
                class="material-icons align-bottom">perm_identity</i>Cliente</a>
            <a class="dropdown-item" href="/listarMotoBoy"><i class="material-icons align-bottom">fastfood</i>
              Produtos</a>
            <a class="dropdown-item" href="/listarMotoBoy"><i class="material-icons align-bottom"> group_work </i>
              Combos</a>
            <a class="dropdown-item" href="/listarMotoBoy"><i class="material-icons align-bottom"> access_time </i>
              Horários de Funcionamento</a>
            <a class="dropdown-item" href="/listarMotoBoy"><i class="material-icons align-bottom"> pin_drop </i> Locais
              de Entrega</a>
          </div>
        </li>
      </ul>

      <button class="btn btn-light my-2 my-sm-0" type="submit" (click)="logout()"><i
          class="material-icons align-bottom"> exit_to_app </i> Sair</button>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0" *ngIf="currentUser">
  <div class="container">
    <p></p>
    <alert id="alertaListar"></alert>
    <router-outlet></router-outlet>
  </div>
</main>
