<br />
<h1>Bem vindo ao sistema mais top!</h1>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h2>Teste angular</h2>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Ação 1</a>
          <a class="dropdown-item" href="#">Ação 2</a>
          <a class="dropdown-item" href="#">Ação 3</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col">
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Exemplo de alerta</strong> o botão de fechar funciona.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h2>Exemplo de formulário</h2>
     
    </div>
  </div>
</div>